@model VoltesTechnology.Models.Domain.Product
@{

}

<div class="movie-detail w-80 m-auto">
          <div class="img-container">
            <img alt="image" src="/Uploads/@Model.ProductImage">
          </div>

          <div class="detail-container">
            <h3>@Model.ProductName</h3>
            <h4>@Model.ProductPrice</h4>
          </div>
       </div>
       <div class="w-80 m-auto">
        <a href="/Home/Index" class="btn btn-default">Back</a>
</div>